.sectionTitleSubtitle {
  display: flex;
  flex-direction: column;

  span {
    font-size: 18px;
    color: #545454;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.containerFormData {
  display: flex;
  gap: 3rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.formError {
  font-size: 14px;
  color: #d32f2f;
}

.locationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
