.container-pagination {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}

.page-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
