.forms {
  width: 340px;

  margin-left: auto;
  margin-right: 80px;

  margin-top: 80px;

  padding: 5%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background:   #aca9a98c;
  border-radius: 16px;

  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 10px #0000005f;
}

.buttonWrapper {
  width: 100%;
}
