.backdrop {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  background: #ffff;
  color: black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.type-info {
  background: #afd3f8;
  color: #15528f;
}

.type-danger {
  background: #fecaca;
  color: #991b1b;
}

.title-modal {
  font-weight: bold;
}

.icon-close {
  font-size: 20px;
  cursor: pointer;
}

.content-modal {
  padding: 15px;
}

.message-modal {
  margin: 0;
  text-align: start;
}

.actions-modal {
  padding: 10px 15px;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  border-top: 1px solid #ddd;
}

.btn-base {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-cancel {
  background: #e5e7eb;
  color: #374151;
}
