.containerLocationAndSearch {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.searchLocation {
  display: flex;
  gap: 1.5rem;
}

.containerMap {
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
}
