.backdrop {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-modal {
  width: auto;
  border-radius: 5px;
  overflow: hidden;
  background: #ffff;
  color: black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.view-header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dbeafe;
  padding: 15px;
  border-bottom: 1px solid #aaa;
}

.view-title-modal {
  color: black;
}

.icon-close {
  font-size: 20px;
  color: gray;
  cursor: pointer;

  &:hover {
    color: #555555;
  }
}

.view-content-modal {
  width: 800px;
  height: 560px;
}
