.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #afd3f8;
}

.mainContainer {
  width: 100%;
  max-width: 85%;
  background: white;
  padding: 2rem 2.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerBeneficiario {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}
