.container-listagem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .actions-table {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .icon-actions {
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 18px;
  }
  
  .icon-actions:hover{
    opacity: 0.7;
  }
  
  .icon-delete {
    color: #ef4444; 
  }
  
  .icon-edit {
    color: #64748b; 
  }
  
  .section-pagination {
    width: fit-content;
    margin-left: auto;
    margin-right: 15px;
  }